<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <!--This has a specific binding setting so it will ignore the default one-->
      <endpoint address="http://localhost:8086/GeoService"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="WsEp"
                bindingConfiguration="wsBindingConfig">
      </endpoint>
      <!--It will automatically use the unnamed basicHttpBinding binding setting
      because it doesn't target any specific binding setting -->
      <endpoint address="http://localhost/GeoService"
                binding="basicHttpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="HttpEp">
      </endpoint>
    </client>
    <bindings>
      <!--This means that every basicHttpBinding endpoint that don't target a specific named binding 
      configured here will inherit this configuration-->
      <basicHttpBinding>
        <!--This just overloading the maxReceivedMessageSize the rest remain the default values -->
        <binding maxReceivedMessageSize="2097152" />
      </basicHttpBinding>
      <wsHttpBinding>
        <!--As this binding configuration has a name only the endpoint targeting this name will obey it-->
        <binding name="wsBindingConfig" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>